<div class="grid-fluid">
  <div class="c12">

    <div class="load one">
      <div class="cta">
        <%= image_tag("create-project-txt.svg", alt: "Create a Project Text") %>
        <div id="my-btn">
          <%= image_tag("create-project-btn.svg", alt: "Create a Project Button") %>
        </div>
      </div>
      <div class="illust">
        <%= image_tag("create-project-illust.svg", alt: "Create a Project") %>
      </div>
      <div class="tbl">
        <%= image_tag("create-project-tbl.svg", alt: "Create a Project Table") %>
      </div>
    </div>

    <div class="load two">
      <div class="form">
        <%= image_tag("create-project-form.svg", alt: "Create a Project Form") %>
        <div id="my-btn-too">
          <%= image_tag("create-project-form-btn.svg", alt: "Create a Project Form Button") %>
        </div>
      </div>
    </div>

    <div class="load three">
      <div class="onboard-top">
        <%= image_tag("task-top.svg", alt: "Create a Project Form") %>
      </div>
      <div id="onboard-one" class="one">
        <%= image_tag("task-intro-one.svg", alt: "Create a Project Form Button") %>
      </div>
      <div id="onboard-two" class="two">
        <%= image_tag("task-intro-two.svg", alt: "Create a Project Form Button") %>
      </div>
      <div id="onboard-three" class="three">
        <%= image_tag("task-intro-three.svg", alt: "Create a Project Form Button") %>
      </div>
    </div>

  </div>
</div>
